@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Roboto Mono", monospace;
  --color-light: #CFCFCF;
  --color-bg: #141414;
  --color-verylight: #575757;
  --color-verydark: #1F1F1F;
}

@media (min-width: 768px) {
  .big {
    font-size: 114px;
  }

  .tiny {
    font-size: 10px;
    font-weight: 300;
    color: #CFCFCF;
  }

  .light {
    font-size: 16px;
    font-weight: 300;
    color: #CFCFCF;
  }

  .medium {
    font-size: 48px;
    margin-bottom: 20px;
    color: #CFCFCF;
  }

  .title {
    font-size: 40px;
    text-align: right;
    color: #CFCFCF;
  }

  .textContainerLeft {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 120px;
    margin-left: 120px;
    scroll-margin-top: 120px;
  }

  .textContainerRight {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 120px;
    margin-left: 120px;
    scroll-margin-top: 120px;
  }

  .textContainerCenter {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 120px;
    margin-left: 120px;
    text-align: center;
    justify-content: center;
    scroll-margin-top: 120px;
    grid-row: 1;
    grid-column: 1;
  }
}

@font-face {
  font-family: Roboto Mono, monospace;
  src: url(../public/fonts/RobotoMono.ttf);
}

/* UNUSED : neon flicker effect */
@keyframes neon-flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: white;
  }

  20%,
  24%,
  55% {
    color: #CFCFCF;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.neon-flicker {
  animation: neon-flicker 1.5s infinite alternate;
}

.infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.light {
  font-weight: 300;
  color: #CFCFCF;
}

body {
  background: #141414;
}

canvas {
  display: 'block';
  width: 100%;
  height: 100%;
}

p {
  font-family: Roboto Mono, monospace;
  color: white;
}

a {
  font-family: Roboto Mono, monospace;
}

img {
  user-select: none;
}

span {
  font-family: Roboto Mono, monospace;
}

.canvas {
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #141414;
  overflow: hidden
}

.parent-landing {
  display: grid;
  grid-template-rows: 1fr auto auto;
  height: 100%;
  user-select: none;
  position: relative;
}

.child-landing {
  grid-row: 1;
  grid-column: 1;
  place-self: center;
  z-index: 1;
  text-align: center;
}

.button {
  grid-row: 1;
  grid-column: 1;
  place-self: end center;
  margin-bottom: 65px;
  justify-content: center;
}

::-moz-selection {
  /* Selection code for Firefox */
  color: #141414;
  background: white;
}

::selection {
  color: #141414;
  background: white;
}